:root{
    --white:#fff;
    --black:#000;
    --brand-primary:#FF4A17;
    --brand-hover:#06fcb6;
    --brand-gray: #727476;
    --brand-marun: #dd1e1d;
    --brand-black: #222222;
    --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.09);
    --boox-sealt: #fafafa;
    --boder-fot:#767676;
}